<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art.struts2.login.mapper.UserMapper">

    <select id="selectUserById" parameterType="int" resultType="com.art.struts2.login.model.User">
        select user_name as userName from User where user_id = #{id}
    </select>

</mapper>
